%ul.myPage__menu__list
  %li.myPage__menu__list--myPage
    = link_to "マイページ","#",class: "menu"
  %li.myPage__menu__list--profile
    = link_to "プロフィール","#",class: "menu"
  %li.myPage__menu__list--myInfo
    = link_to "本人情報","#",class: "menu"
  %li.myPage__menu__list--sell
    = link_to "出品する","#",class: "menu"
  %li.myPage__menu__list--payInfo
    = link_to "支払い方法","/card",class: "menu"
  %li.myPage__menu__list--signOut
    = link_to "ログアウト", logout_users_path, class: "menu"
