= render 'layouts/nav'
.myPage
  .myPage__wrapper
    .sideMenu
      = render 'users/side'
    .myMain
      .myMain__contents
        .myMain__head
          .myMain__head__view
            = image_tag 'material/icon/member_photo_noimage_thumb.png', alt: 'image', height: '60px', width: '60px', class: 'photo'
          .myMain__head__name
            %p
              = current_user.nickname
      .mySell
        %p.title 出品した商品
        .pickup_inside_show
          .pickup_lists_show
            -# ここから繰り返し
            - @user_items.each do |item|
              = render partial: "items/item", locals: { item: item }

      .myBuy
        .myBuy__head
          %p 購入した商品
        .trade
          .trading
            %p 取引中
          .pastTrade
            %p 過去の取引
        .trade__box
          %ul.trade__box__items
            %li
              %div.trade__box__items--img
              %div.trade__box__items__info
                .trade__box__items__info--itemName aaaaa
                .trade__box__items__info--itemPrice aaaaa
            %li
              %div.trade__box__items--img
              %div.trade__box__items__info
                .trade__box__items__info--itemName aaaaa
                .trade__box__items__info--itemPrice aaaaa
            %li
              %div.trade__box__items--img
              %div.trade__box__items__info
                .trade__box__items__info--itemName aaaaa
                .trade__box__items__info--itemPrice aaaaa

= render 'layouts/banner'
= render 'layouts/footer'
= render 'layouts/sale-btn'
