= render 'layouts/nav'
.myPage
  .myPage__wrapper
    .sideMenu
      = render 'users/side'
    .myMain
      .myMain__contents
        .myMain__head
          .myMain__head__view
            = image_tag 'material/icon/member_photo_noimage_thumb.png', alt: 'image', height: '60px', width: '60px', class: 'photo'
          .myMain__head__name
            %p
              = current_user.nickname
      .mySell
        %p.title 出品した商品
        .pickup_lists
          - @newitems.each do |item|
            - if user_signed_in? && current_user.id == item.user_id
              .pickup_list
                %label.pickup_label
                  = link_to "/items/#{item.id}", data: {"turbolinks" => false},class:"pickup_link" do
                    = image_tag item.images.first.image.url ,class:"pickup_imge"
                    .pickup_body
                      %p.pickup_body__name #{item.name}
                      .pickup_body__data
                        %p.pickup_body__data__price #{item.price}円
                        .pickup_body__data__like-box
                      %p.pickup_body__tax (税込)

      .myBuy
        .myBuy__head
          %p 購入した商品
        .trade
          .trading
            %p 取引中
          .pastTrade
            %p 過去の取引
        .trade__box
          %ul.trade__box__items
            %li
              %div.trade__box__items--img
              %div.trade__box__items__info
                .trade__box__items__info--itemName aaaaa
                .trade__box__items__info--itemPrice aaaaa
            %li
              %div.trade__box__items--img
              %div.trade__box__items__info
                .trade__box__items__info--itemName aaaaa
                .trade__box__items__info--itemPrice aaaaa
            %li
              %div.trade__box__items--img
              %div.trade__box__items__info
                .trade__box__items__info--itemName aaaaa
                .trade__box__items__info--itemPrice aaaaa

= render 'layouts/banner'
= render 'layouts/footer'
= render 'layouts/sale-btn'
