= render 'layouts/nav'
.pickup_inside_search
  .pickup_lists_search
    - @items.each do |item|
      = render partial: "items/item", locals: { item: item }


= render 'layouts/banner'
= render 'layouts/footer'
= render 'layouts/sale-btn'
