!!!
%html
  %head
    %title FURIMA
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header.main
      %h1
        = link_to "#", class:"header__btn__furima" do
          = image_tag "material/logo/logo.png", class: "header__btn__furima-btn"
    

