.log_main
  .log_in
    .menu
      %p.fff アカウントをお持ちでない方はこちら
      = link_to "sign_up", class: "a"do
        %h2.ggg 新規会員登録
    .log_in_form
      = link_to "#", class: "btn" do
        = icon('fab', 'facebook-square')
        %text<>
          Facebookでログイン
      = link_to "#", class: "btn1" do
        = image_tag "google.jpg", size: "40x40",class: "google"
        Googleでログイン
    .menu2
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "メールアドレス",class: 'text'
        .field
          = f.password_field :password, autocomplete: "current-password",placeholder: "パスワード",class: 'text'
        .log_in1
          ログイン
      %p.hhh パスワードをお忘れの方


-#   - if devise_mapping.rememberable?
-#     .field
-#       = f.check_box :remember_me
-#       = f.label :remember_me
-#   .actions
-#     = f.submit "Log in"
-# = render "devise/shared/links"}
