.pickup_list
  %label.pickup_label
    = link_to "/items/#{item.id}", class:"pickup_link" do
      - if item.trading == "販売中"
        = image_tag item.images.first.image.url ,class:"pickup_imge"
      - else item.trading == "売り切れ"
        .sold_out
          .sold_out__text SOLDOUT
        = image_tag item.images.first.image.url ,class:"pickup_imge_byu"
      .pickup_body
        %p.pickup_body__name #{item.name}
        .pickup_body__data
          %p.pickup_body__data__price #{item.price}
          .pickup_body__data__like-box
            %i.fa.fa-star.pickup_body__data__like-box__icon
            %p.pickup_body__data__like-box__like
              12
        %p.pickup_body__tax (税込)
