= render 'layouts/nav'

.main
  .main_top
    .contents
      .contents__subtitle
        人生を変えるフリマアプリ
      .contents__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .contents__btns
        .contents__btns__btn
          = link_to "#", class:"contents__btns__btn__app_store" do
            = image_tag "material/btn/app_store.png", class: "contents__btns__btn__app_store--btn"
        .contents__btns__btn
          = link_to "#", class:"contents__btns__btn__google_play" do
            = image_tag "material/btn/google_play.png", class: "contents__btns__btn__google_play--btn"


  .inttodactions
    .inttodaction
      %p.subtitle FURIMAが選ばれる3つの理由
      .inttodaction__green_bar
      .inttodaction__lists
        -# ここから繰り返し
        .inttodaction__lists__list
          .inttodaction__lists__list__image
            %span.number 1
            = image_tag "material/pict/pict-reason-01.jpg"
          %a.inttodaction__lists__list__text
            %span 3分
            ですぐに出品
          %p.inttodaction__lists__list__explamation
            スマホで入力するだけで簡単に出品できる！
          -# ここまで繰り返し
        -# ここから繰り返し
        .inttodaction__lists__list
          .inttodaction__lists__list__image
            %span.number 2
            = image_tag "material/pict/pict-reason-02.jpg"
          %p.inttodaction__lists__list__text
            %span シンプル
            で使いやすい
          %p.inttodaction__lists__list__explamation
            めんどくさい入力は必要なく、検索も購入もスムーズ！
          -# ここまで繰り返し
        -# ここから繰り返し
        .inttodaction__lists__list
          .inttodaction__lists__list__image
            %span.number 3
            = image_tag "material/pict/pict-reason-03.jpg"
          %p.inttodaction__lists__list__text
            手数料
            %span 業界最安
          %p.inttodaction__lists__list__explamation
            最大3%でお得に出品&amp;購入！
          -# ここまで繰り返し


  .download
    .download__inside
      %p.download__inside__text-top
        会員数日本一位
      %p.download__inside__text-bottom
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .download__inside__btns
        .download__inside__btns__btn
          = link_to "#", class:"download__inside__btns__btn__app_store" do
            = image_tag "material/btn/app_store.png", class: "download__inside__btns__btn__app_store--btn"
        .download__inside__btns__btn
          = link_to "#", class:"download__inside__btns__btn__google_play" do
            = image_tag "material/btn/google_play.png", class: "download__inside__btns__btn__google_play--btn" 



  .features
    .feature
      %p.subtitle
        FURIMAの特徴
      .feature__green_bar
      %ul.feature__lists
        -# ここから繰り返し
        %li.feature__lists__list
          .feature__lists__list__imge
            = image_tag "material/icon/icon-01.png"
          %p.feature__lists__list__text 簡単に売り買いできる
          %p.feature__lists__list__explamation
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
          -# ここまで繰り返し
        -# ここから繰り返し
        %li.feature__lists__list
          .feature__lists__list__imge
            = image_tag "material/icon/icon-03.png"
          %p.feature__lists__list__text 売上金は即日振込みに対応
          %p.feature__lists__list__explamation
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
          -# ここまで繰り返し
        -# ここから繰り返し
        %li.feature__lists__list
          .feature__lists__list__imge
            = image_tag "material/icon/icon-04.png"
          %p.feature__lists__list__text 様々な支払いに対応
          %p.feature__lists__list__explamation
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
          -# ここまで繰り返し


  .pickups
    %p.subtitle 新着商品
    .new_items
      = link_to "新規投稿商品", "#", class:"new_items"
    .pickup_inside
      .pickup_lists
        -# ここから繰り返し
        - @newitems.each do |item|
          = render partial: "item", locals: { item: item }
          -# ここまで繰り返し


  .pickups
    %p.subtitle ピックアップカテゴリー
    .new_items
      = link_to "カテゴリー一覧", "#", class:"new_items"
    .pickup_inside
      .pickup_lists
        -# ここから繰り返し
        .pickup_list
          %label.pickup_label
            = link_to "/items/show", class:"pickup_link" do
              = image_tag "test_image/test_1.jpg" ,class:"pickup_imge"
              .pickup_body
                %p.pickup_body__name 香水セット
                .pickup_body__data
                  %p.pickup_body__data__price 1200円
                  .pickup_body__data__like-box
                    %i.fa.fa-star.pickup_body__data__like-box__icon
                    %p.pickup_body__data__like-box__like
                      12
                %p.pickup_body__tax (税込)
                -# ここまで繰り返し
        -# ここから繰り返し
        .pickup_list
          %label.pickup_label
            = link_to "/items/show", class:"pickup_link" do
              = image_tag "test_image/test_2.jpg" ,class:"pickup_imge" 
              .pickup_body
                %p.pickup_body__name たこのぬいぐるみ
                .pickup_body__data
                  %p.pickup_body__data__price 500円
                  .pickup_body__data__like-box
                    %i.fas.fa-star.pickup_body__data__like-box__icon
                    %p.pickup_body__data__like-box__like
                      1
                %p.pickup_body__tax (税込)
                -# ここまで繰り返し
        -# ここから繰り返し
        .pickup_list
          %label.pickup_label
            = link_to "/items/show", class:"pickup_link" do
              = image_tag "test_image/test_3.jpg" ,class:"pickup_imge" 
              .pickup_body
                %p.pickup_body__name 電動ガンセット
                .pickup_body__data
                  %p.pickup_body__data__price 20000円
                  .pickup_body__data__like-box
                    %i.fa.fa-star.pickup_body__data__like-box__icon
                    %p.pickup_body__data__like-box__like
                      5
                %p.pickup_body__tax (税込)
                -# ここまで繰り返し


  .pickups
    %p.subtitle ピックアップブランド
    .new_items
      = link_to "アーカイバ", "#", class:"new_items"
    .pickup_inside
      .pickup_lists
        -# ここから繰り返し
        .pickup_list
          %label.pickup_label
            = link_to "/items/show", class:"pickup_link" do
              = image_tag "test_image/test_4.jpg" ,class:"pickup_imge" 
              .pickup_body
                %p.pickup_body__name たこ焼きぬいぐるみ
                .pickup_body__data
                  %p.pickup_body__data__price 800円
                  .pickup_body__data__like-box
                    %i.fa.fa-star.pickup_body__data__like-box__icon
                    %p.pickup_body__data__like-box__like
                      0
                %p.pickup_body__tax (税込)
                -# ここまで繰り返し
        -# ここから繰り返し
        .pickup_list
          %label.pickup_label
            = link_to "/items/show", class:"pickup_link" do
              = image_tag "test_image/test_5.jpg" ,class:"pickup_imge" 
              .pickup_body
                %p.pickup_body__name うさぎのフィギュア
                .pickup_body__data
                  %p.pickup_body__data__price 200円
                  .pickup_body__data__like-box
                    %i.fa.fa-star.pickup_body__data__like-box__icon
                    %p.pickup_body__data__like-box__like
                      3
                %p.pickup_body__tax (税込)
                -# ここまで繰り返し
        -# ここから繰り返し
        .pickup_list
          %label.pickup_label
            = link_to "/items/show", class:"pickup_link" do
              = image_tag "test_image/test_6.jpg" ,class:"pickup_imge" 
              .pickup_body
                %p.pickup_body__name バラの写真
                .pickup_body__data
                  %p.pickup_body__data__price 6000円
                  .pickup_body__data__like-box
                    %i.fa.fa-star.pickup_body__data__like-box__icon
                    %p.pickup_body__data__like-box__like
                      120
                %p.pickup_body__tax (税込)
                -# ここまで繰り返し

= render 'layouts/banner'
= render 'layouts/footer'