.sale

  -# ヘッダー
  .header
    =link_to "/" ,class:"header-link" do
      = image_tag "material/logo/logo.png" ,class:"header-image"
  
  -# メイン
  .main
  
    -# 投稿フォーム
    = form_with(model: @item, local: true, id: "item-dropzone", class: "sell-form dropzone") do |f|
      
      -# 画像投稿機能
      .item-box
        -# 出品画像
        .item-image
          .item-image__top
            .item-image__top__title
              出品画像
            .certainly
              必須
          .item-image__max-upload 最大10枚までアップロードできます
          -# 画像投稿フォーム
          .item-image__form
            #preview
              -# ここから追加画像
              -# .item-img
              -#   .item-img__content
              -#     = image_tag image.image.url
              -#   %label
              -#     .item-img__btn
              -#       .item-img__btn--delete 削除
              -# ここまで追加画像
              .num-0#image-container
                %label
                  = f.fields_for :images do |image|
                    .input-area
                      = image.file_field :image, type: 'file', name: "images[image][]", id: "upload-image", style: "display:none", required:"required" 
                      %i.fas.fa-camera
          -# .error-messages
      = render partial: "form", locals: { f: f }
= render 'layouts/item-footer'
