= render 'layouts/nav'

.wrappera
%nav.breadCrumbs
  .bread
    %ul
      %li
        = link_to 'FURIMA', '#'
      %li
        = link_to 'ベビー・キッズ', '#'
      %li
        = link_to 'ベビー服(男女兼用) ~95cm', '#' 
      %li
        = link_to 'アウター', '#' 
      %li
        = @item.name

.main
  .main__snow
    .contentLeftqq
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name 
            = @item.name
          .itemBox__body
            %ul
              %li.image-main
                - @item.images.each_with_index do |image,index|
                  -if index == 0
                    =image_tag image.image.url, class:"item-img-big"
                  -else
                %ul.imaga
                  - @item.images.each_with_index do |image,index|
                    -if index != 0
                      %li.image-small
                        =image_tag image.image.url,class:"item-img-small"
                    -else
                  -# %li.image-small
                  -#   = image_tag "material/pict/pict-reason-03.jpg",class:"item-img-small"
                  -# %li.image-small
                  -#   = image_tag "material/pict/pict-reason-03.jpg",class:"item-img-small"
                  -# %li.image-small
                  -#   = image_tag "material/pict/pict-reason-03.jpg",class:"item-img-small"                   
          .itemBox__price
            %span ¥  #{@item.price}
            .itemBox__price-detail
              %span  (税込)
              %span  送料込み
          .itemDetail
            =@item.introduction

          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    =@item.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = @item.category.name
                    -# %br
                    -# = link_to  @item.category.children.pluck(:name)[0], category_path(@item.id)
                    -# %br
                    -# = link_to @item.category.descendants.pluck(:name)[7], 
                    -# category_path(@item.id)


                    
                %tr
                  %th ブランド
                  %td
                    - if @item.brand.nil?
                      %p 指定なし
                    - else
                      = @item.brand.name
                %tr
                  %th 商品のサイズ
                  %td カラムなし
                %tr
                  %th 商品の状態
                  %td 
                    =@item.condition
                %tr
                  %th 配送料の負担
                  %td 送料込み (出品者負担)
                %tr
                  %th 発送料の地域
                  %td
                    = link_to "#{@item.prefecture_code}", '#'
                %tr
                  %th 発送日の目安
                  %td 
                    =@item.preparation_day
          .optionalArea
            %ul
              %li#likebtn.optionalBtn.likeBtn
                = link_to '★お気に入り 0', '#'
            %ul
              - if user_signed_in? && current_user.id != @item.user_id
                .likebtn.option
                  = link_to '購入に進む', pay_purchase_path(@item.id), class: 'buy'
            .delete_option
            - if user_signed_in? && current_user.id == @item.user_id
              .pickup_body__user
                = link_to "この商品を削除する", item_path(@item.id), method: :delete, data:{ confirm: '削除しますか？' } ,class: "pickup_body__deletea"
              .pickup_body__user
                = link_to "この商品を編集する", edit_item_path(@item.id), class: "pickup_body__show"

        .commentBox
          %ul.commentContents
            = form_with url: "#", local: true, method: :get, class: "search-form" do |form|
              .form-box
                = form.text_area :name, class: "hoge"
              %p.noticeMsg 相手のことを考え丁寧なコメントを心がけましょう。<br>不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br
              = form.submit "コメントする" , class: "search-btn"
      %ul.links
        %li.left
          = link_to '前の商品へ', '#'
        %li.right
          = link_to '後ろの商品へ', '#'
      .relatedItems
        = link_to "#{@item.category.name} をもっと見る", '#'

= render 'layouts/banner'
= render 'layouts/footer'
= render 'layouts/sale-btn'

= @item.category.name
