= render 'layouts/nav'

.wrappera
%nav.breadCrumbs
  .bread
    %ul
      %li
        = link_to 'FURIMA', '/', data: {"turbolinks" => false}
      %li
        = link_to "#{@item.category.name}", '#', data: {"turbolinks" => false}
      %li
        = @item.name

.main
  .main__snow
    .contentLeftqq
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name 
            = @item.name
          .itemBox__body
            %ul
              %li.image-main
                - @item.images.each_with_index do |image,index|
                  -if index == 0
                    =image_tag image.image.url, class:"item-img-big"
                  -else
                %ul.imaga
                  - @item.images.each_with_index do |image,index|
                    -if index != 0
                      %li.image-small
                        =image_tag image.image.url,class:"item-img-small"
                    -else
          .itemBox__price
            %span ¥  #{@item.price}
            .itemBox__price-detail
              %span  (税込)
              %span  送料込み
          .itemDetail
            =@item.introduction

          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    =@item.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = @item.category.name
                    -# %br
                    -# = link_to  @item.category.children.pluck(:name)[0], category_path(@item.id), data: {"turbolinks" => false}
                    -# %br
                    -# = link_to @item.category.descendants.pluck(:name)[7], 
                    -# category_path(@item.id)


                    
                -# %tr
                -#   %th ブランド
                -#   %td
                -#     - if @item.brand.nil?
                -#       %p 指定なし
                -#     - else
                -#       = @item.brand.name
                %tr
                  %th 商品のサイズ
                  %td カラムなし
                %tr
                  %th 商品の状態
                  %td 
                    =@item.condition
                %tr
                  %th 配送料の負担
                  %td 送料込み (出品者負担)
                %tr
                  %th 発送料の地域
                  %td
                    = link_to "#{@item.prefecture_code}", '#', data: {"turbolinks" => false}
                %tr
                  %th 発送日の目安
                  %td 
                    =@item.preparation_day
          .optionalArea
            %ul
              %li#likebtn.optionalBtn.likeBtn
                = link_to '★お気に入り 0', '#', data: {"turbolinks" => false}
            %ul
              -# 商品の販売状態の確認
              - if @item.trading == "売り切れ"
                .sold_out_box SOLDOUT
              - else @item.trading == "販売中"
                -# 出品者のIDを確認
                - if user_signed_in? && current_user.id != @item.user_id
                  .likebtn.option
                    = link_to '購入に進む', pay_purchase_path(@item.id), data: {"turbolinks" => false}, class: 'buy'
                  .delete_option
                - elsif user_signed_in? && current_user.id == @item.user_id
                  .pickup_body__user
                    = link_to "この商品を削除する", item_path(@item.id), method: :delete, data:{ confirm: '削除しますか？' } , data: {"turbolinks" => false},class: "pickup_body__deletea"
                  .pickup_body__user
                    = link_to "この商品を編集する", edit_item_path(@item.id), data: {"turbolinks" => false} , class: "pickup_body__show"

        .commentBox
          %ul.commentContents
            = form_with url: "#", local: true, method: :get, class: "search-form" do |form|
              .form-box
                = form.text_area :name, class: "hoge"
              %p.noticeMsg 相手のことを考え丁寧なコメントを心がけましょう。<br>不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br
              = form.submit "コメントする" , class: "search-btn"
      %ul.links
        %li.left
          = link_to '前の商品へ', '#', data: {"turbolinks" => false}
        %li.right
          = link_to '後ろの商品へ', '#', data: {"turbolinks" => false}
      .relatedItems
        = link_to "#{@item.category.name} をもっと見る", '#', data: {"turbolinks" => false}

= render 'layouts/banner'
= render 'layouts/footer'
= render 'layouts/sale-btn'

= @item.category.name
