= render 'layouts/nav'

.wrapper
  .category-index  
    .category-index__name 
      %h2 カテゴリー一覧

    .category-index__list
      - @category_parent.each do |parent|
        = link_to "#{parent.name}", category_path(parent.id), class: "parent_category",id: "#{parent.id}"

    .category-index__name 
      %h2 レディース
    .category-index__list-tag 
      - @category_parent.each do |parent|
        - parent.children.each do |child|
          = link_to "#{child.name}",category_path(child.id), class: "child_category",id: "#{child.id}"
    .category-index__list-tag__a
      .list  
      - @category_parent.each do |parent|
        - parent.children.each do |child|
          - child.children.each do |grandchild|
            = link_to "#{grandchild.name}",category_path(grandchild.id),class:"grandchild_category",id: "#{grandchild.id}"


= render 'layouts/banner'
= render 'layouts/footer'
