= render 'layouts/nav'

.wrapperb
  .category-index
    .category-index__name
      %h2 カテゴリー一覧
      %h2= link_to "新規投稿商品一覧", items_searches_path, data: {"turbolinks" => false}, class:"new_items_search"


    .category-index__list
      - @category_parent.each do |parent|
        = link_to "#{parent.name}", items_searches_path("#{parent.id}"), data: {"turbolinks" => false} ,class: "category_btn"

= render 'layouts/banner'
= render 'layouts/footer'
= render 'layouts/sale-btn'
