.footer
  .footer-top
    %ul.footer-lists
      %li.footer-list
        = link_to '#' do
          プライバシーポリシー
      %li.footer-list
        = link_to '#' do
          FURIMA利用規約
      %li.footer-list
        = link_to '#' do
          特定商取引に関する表記
  = link_to "#" , class:"footer_logo" do
    = image_tag "material/logo/logo-square.png", class:"footer_image"
  .copyright &copy; FURIMA, Inc.
