%header.navHeader
  .navInner
    .mainHeader
      .mainHeaderIcon
        =link_to image_tag("material/logo/logo.png",class: "mainHeaderIconLogo"),root_path
      .searchBox
        = form_with url: "#", local: true, method: :get, class: "search-form" do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
          %label.search-label
            = form.submit "" , class: "search-btn" 
            = image_tag "material/icon/icon-search 1.png", class:"search-icon" 

    .navNavi
      %ul.listsLeft
        %li.search-navs__unit.category

        %li.category
          = link_to "カテゴリー",category_index_path, class: "nav-category"
          -# %p.parents_list
          -#   - @category_parent.each do |parent|
          -#     = link_to "#{parent.name}", "#", class: "parent_category",id: "#{parent.id}"
          -#     .children_list
          -#       - parent.children.each do |child|
          -#         = link_to "#{child.name}", "#", class: "child_category",id: "#{child.id}"
          -#         .grand_children_list
          -#           - child.children.each do |grandchild|
          -#             = link_to "#{grandchild.name}", "#", class: "grand_child_category",id: "#{grandchild.id}"
     
        %li.brand
          = link_to "ブランド",'#', class: "nav-brand"
      - if user_signed_in?
        %ul.listsRight
          %li.login
            = link_to "マイページ","users/#{current_user.id}",class: "my-page"           
          %li.login
            = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %ul.listsRight
          %li.login
            = link_to "ログイン", new_user_session_path,class:"nav-login"
          %li.sign_up
            = link_to "新規会員登録", new_user_registration_path, class: "nav-login"
