%header.navHeader
  .navInner
    .mainHeader
      .mainHeaderIcon
        =link_to image_tag("material/logo/logo.png", class: "mainHeaderIconLogo"),root_path, data: {"turbolinks" => false}
      .searchBox
        = form_with url: items_searches_path, local: true, method: :get, class: "search-form"do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
          %label.search-label
            = form.submit "" , class: "search-btn" 
            = image_tag "material/icon/icon-search 1.png", class:"search-icon" 

    .navNavi
      %ul.listsLeft
        %li.search-navs__unit.category

        %li.category
          = link_to "カテゴリー",categories_path, data: {"turbolinks" => false}, class: "nav-category"
          -# %p.parents_list
          -#   - @category_parent.each do |parent|
          -#     = link_to "#{parent.name}", "#", data: {"turbolinks" => false}, class: "parent_category",id: "#{parent.id}"
          -#     .children_list
          -#       - parent.children.each do |child|
          -#         = link_to "#{child.name}", "#", data: {"turbolinks" => false}, class: "child_category",id: "#{child.id}"
          -#         .grand_children_list
          -#           - child.children.each do |grandchild|
          -#             = link_to "#{grandchild.name}", "#", data: {"turbolinks" => false}, class: "grand_child_category",id: "#{grandchild.id}"
        
        %li.brand
          = link_to "ブランド",'#', data: {"turbolinks" => false}, class: "nav-brand"
      - if user_signed_in?
        %ul.listsRight
          %li.login
            = link_to "マイページ",user_path(current_user.id), data: {"turbolinks" => false},class: "nav-btn"
          %li.login
            = link_to "ログアウト", destroy_user_session_path, method: :delete , data: {"turbolinks" => false},class: "nav-btn"
      - else
        %ul.listsRight
          %li.login
            = link_to "ログイン", new_user_session_path, data: {"turbolinks" => false},class: "nav-btn"
          %li.sign_up
            = link_to "新規会員登録", new_user_registration_path, data: {"turbolinks" => false}, class: "nav-btn"
